<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Envio de mensagens</title>
</head>
<body>
<form enctype=multipart/form-data class="" action="upload" method="post">
    <span>Importar contatos</span>
    <input type="file" name="upload-file" value="">
    <input type="submit" name="" value="Importar">
</form>
<form class="" action="enviar_mensagem" method="post">
    <input type="text" cols="100" rows="50" style="width:200px; height:300px;" name="mensagem" value="">
    <input type="submit" name="" value="enviar_mensagem">
</form>
</body>
</html>